<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partials/head') %>
  </head>
  
  <body>
  <header>
    <!-- the header section goes here -->
    <%- include('partials/navigation') %>
  </header>
    <main>
      <!-- the intro section goes here -->
      <%- include('partials/intro') %>
      <!-- the introduction section continues here -->
      <%- include('partials/purpose') %>
      <!-- the memories section continues here -->
      <%- include('partials/memories') %>
    </main>
    <footer>
      <!-- the socials go here -->
      <%- include('partials/social') %>
      <!-- the footer goes here -->
      <%- include('partials/footer') %>
      <!-- any scripts go here -->
      <%- include('partials/scripts') %>
    </footer>
  </body>
  </html>
  
  