<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partials/head') %>
  </head>
  
  <body>
    <%- include('partials/navigation') %>
    <main>
      <!-- the main content goes here -->
      <%- include('partials/hero') %>
      <%- include('partials/introduction') %>
      <%- include('partials/cards') %>
    </main>
    <!-- the footer goes here -->
    <%- include('partials/social') %>
    <%- include('partials/footer') %>
    <!-- any scripts go here -->
    <%- include('partials/scripts') %>
  </body>
  </html>
  