<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partials/head') %>
  </head>
  
  <body>
    <main>
      <!-- the intro section goes here -->
      <%- include('partials/intro') %>
      <!-- the cards section goes here -->
      <%- include('partials/cards') %>
      <!-- the introduction section continues here -->
      <%- include('partials/purpose') %>
      <!-- the gallery goes here -->
      <% include('partials/memories') %>
    </main>
    <!-- the footer goes here -->
    <%- include('partials/social') %>
    <%# include('partials/footer') %>
    <!-- any scripts go here -->
    <%- include('partials/scripts') %>
  </body>
  </html>
  