<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partials/head') %>
  </head>
  
  <body>
    <header>
      <%# include('partials/navigation') %>
    </header>
    <main>
      <!-- the intro section goes here -->
      <%- include('partials/intro') %>
      <!-- the purpose section goes here -->
      <%- include('partials/purpose') %>
      <!-- the cards section goes here -->
      <%# include('partials/cards') %>
      <!-- the memories section goes here -->
      <%# include('partials/memories') %>
    </main>
    <footer>
      <!-- the socials go here -->
      <%- include('partials/social') %>
      <!-- the footer goes here -->
      <%# include('partials/footer') %>
      <!-- any scripts go here -->
      <%- include('partials/scripts') %>
    </footer>
  </body>
  </html>
  
  