<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partials/head_scss') %>
  </head>
  
  <body>
    <%- include('partials/navigation') %>
    <main>
      <!-- Your main content goes here -->
      <%- include('partials/hero') %>
      <%- include('partials/introduction') %>
      <%- include('partials/cards') %>
    </main>
  </body>
  </html>
